:root {
  --background: #eff6f0;
  --foreground: #0f1510;
  --card: var(--background);
  --card-foreground: #0f1510;
  --popover: var(--background);
  --popover-foreground: #0f1510;
  --primary: #273f2c;
  --primary-foreground: var(--background);
  --secondary: #abceb2;
  --secondary-foreground: #0f1510;
  --muted: #eff6f0;
  --muted-foreground: #3c5d42;
  --accent: #abceb2;
  --accent-foreground: #0f1510;
  --destructive: #ef4444;
  --destructive-foreground: var(--background);
  --border: #2d4d34;
  --input: #2d4d34;
  --ring: #273f2c;
  --radius: 0.75rem;
  --chart-1: #273f2c;
  --chart-2: #2d4d34;
  --chart-3: #3c5d42;
  --chart-4: #abceb2;
  --chart-5: #45ed67;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #0f1510;
  --foreground: #eff6f0;
  --card: #1b281d;
  --card-foreground: #eff6f0;
  --popover: #1b281d;
  --popover-foreground: #eff6f0;
  --primary: #45ed67;
  --primary-foreground: #0f1510;
  --secondary: #273f2c;
  --secondary-foreground: #eff6f0;
  --muted: #141f16;
  --muted-foreground: #abceb2;
  --accent: #273f2c;
  --accent-foreground: #45ed67;
  --destructive: #7f1d1d;
  --destructive-foreground: #eff6f0;
  --border: #273f2c;
  --input: #273f2c;
  --ring: #45ed67;
  --chart-1: #45ed67;
  --chart-2: #31f6d6;
  --chart-3: #abceb2;
  --chart-4: #3c5d42;
  --chart-5: #2d4d34;
}
